@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        font-family: sans-serif;
        font-weight: bold;
        color: black;
    }
    p {
        font-family: sans-serif;
        font-weight: bold;
        color: black;
    }
</style>

<h2>Who are We ?</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices erat facilisis placerat lacinia. Duis blandit, augue luctus tincidunt ultricies, libero velit euismod justo, quis hendrerit turpis tellus euismod elit. Aenean at iaculis libero. Pellentesque bibendum faucibus tellus, ut auctor leo congue ut. Sed eu faucibus lacus. Sed neque magna, porttitor sodales sagittis viverra, rutrum nec metus. Aenean elementum odio eget odio accumsan eleifend. Aliquam a finibus leo. Quisque vehicula suscipit dui, sed aliquet est tristique vitae. Nam quis placerat ante. In hac habitasse platea dictumst. Vestibulum sit amet diam vehicula tortor lobortis posuere. Integer elementum tincidunt sodales. Cras commodo viverra molestie.
</p>

<h2>What is Our Purpose ?</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices erat facilisis placerat lacinia. Duis blandit, augue luctus tincidunt ultricies, libero velit euismod justo, quis hendrerit turpis tellus euismod elit. Aenean at iaculis libero. Pellentesque bibendum faucibus tellus, ut auctor leo congue ut. Sed eu faucibus lacus. Sed neque magna, porttitor sodales sagittis viverra, rutrum nec metus. Aenean elementum odio eget odio accumsan eleifend. Aliquam a finibus leo. Quisque vehicula suscipit dui, sed aliquet est tristique vitae. Nam quis placerat ante. In hac habitasse platea dictumst. Vestibulum sit amet diam vehicula tortor lobortis posuere. Integer elementum tincidunt sodales. Cras commodo viverra molestie.
</p>

<h2>Why Choose Us ?</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices erat facilisis placerat lacinia. Duis blandit, augue luctus tincidunt ultricies, libero velit euismod justo, quis hendrerit turpis tellus euismod elit. Aenean at iaculis libero. Pellentesque bibendum faucibus tellus, ut auctor leo congue ut. Sed eu faucibus lacus. Sed neque magna, porttitor sodales sagittis viverra, rutrum nec metus. Aenean elementum odio eget odio accumsan eleifend. Aliquam a finibus leo. Quisque vehicula suscipit dui, sed aliquet est tristique vitae. Nam quis placerat ante. In hac habitasse platea dictumst. Vestibulum sit amet diam vehicula tortor lobortis posuere. Integer elementum tincidunt sodales. Cras commodo viverra molestie.
</p>

<h2>How can you Support Us ?</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices erat facilisis placerat lacinia. Duis blandit, augue luctus tincidunt ultricies, libero velit euismod justo, quis hendrerit turpis tellus euismod elit. Aenean at iaculis libero. Pellentesque bibendum faucibus tellus, ut auctor leo congue ut. Sed eu faucibus lacus. Sed neque magna, porttitor sodales sagittis viverra, rutrum nec metus. Aenean elementum odio eget odio accumsan eleifend. Aliquam a finibus leo. Quisque vehicula suscipit dui, sed aliquet est tristique vitae. Nam quis placerat ante. In hac habitasse platea dictumst. Vestibulum sit amet diam vehicula tortor lobortis posuere. Integer elementum tincidunt sodales. Cras commodo viverra molestie.
</p>

<h2>Privacy Policy</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices erat facilisis placerat lacinia. Duis blandit, augue luctus tincidunt ultricies, libero velit euismod justo, quis hendrerit turpis tellus euismod elit. Aenean at iaculis libero. Pellentesque bibendum faucibus tellus, ut auctor leo congue ut. Sed eu faucibus lacus. Sed neque magna, porttitor sodales sagittis viverra, rutrum nec metus. Aenean elementum odio eget odio accumsan eleifend. Aliquam a finibus leo. Quisque vehicula suscipit dui, sed aliquet est tristique vitae. Nam quis placerat ante. In hac habitasse platea dictumst. Vestibulum sit amet diam vehicula tortor lobortis posuere. Integer elementum tincidunt sodales. Cras commodo viverra molestie.
</p>